<div class="page-header">
  <% if @current_user.present? && @current_user.role == 'admin' %>
    <h1><%= link_to('All Users', users_path) %> > User</h1>
  <% else %>
    <h1>User</h1>
  <% end %>
</div>
<%=form_for @user do |f| %>
<dl class="dl-horizontal">
  <dt><strong><%= f.label :name %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%=f.label :email %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= f.label :mobile %>:</strong></dt>
  <dd><%= @user.phone_no %></dd> 
  <dt><strong><%= f.label :student_name %>:</strong></dt>
  <dd><%= @user.student_name%></dd>  
  <dt><strong><%= f.label :classroom %>:</strong></dt>
  <dd><%= @user.classroom %></dd>     
  <dt><strong><%= f.label :Role %>:</strong></dt>
  <dd><%= @user.role %></dd>       
  <dt><strong><%= f.label :image%>:</strong></dt>
  <dd><%= image_tag(@user.image, :class => 'img-circle') unless @user.image.nil? %></dd> 
</dl>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              (@current_user.present? && @current_user.role == 'admin' ? users_path : root_path), :class => 'btn btn-default'  %>
<% if @current_user.present? && @current_user.role == 'admin' %>              
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_user_path(@user.id), :class => 'btn btn-warning' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                user_path(@user),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
